<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<%= render "welcome/header" %>
<h1>Articles By <%= @user.username %></h1>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
  <% if @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to 'Show', article_path(article, @tag) %></td>
      <%if article.user_id == session[:user_id] %>
      <td><%= link_to 'Edit', edit_article_path(article) %></td>
      <td><%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>
  <% end.empty? %>
    <tr>
      <td><%=@user.username%> have no articles</td>
    </tr>
  <% end %>
</table>