<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>
<%= render "welcome/header" %>
<p>
  <h2>Title:
  <%= @article.title %></h2>
</p>

<p>
  <strong>Author:
  <%= @user.username %></strong>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
<strong>Tags</strong>
	<table>
		<tr>
			<td><%= render :partial => "tags/tag" %></td>
		</tr>
		<tr>
			<td>
				<% if session[:user_id] == @article.user_id %>
			  	<%= render :partial => "tags/form", :article => @article %>
			  <% end %>
			</td>
		</tr>
	</table> 
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%= link_to 'Back', :back %>

<% if session[:user_id] == @article.user_id %>
<%= link_to 'Edit', edit_article_path(@article) %>
<% end %>