<%= form_for @user, :url => sign_in_path(@user) do |f| %>
  <p>
    <%= f.label 'username:' %><br />
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label 'password:' %><br />
    <%= f.password_field :password %>
  </p>
  <p>
    <table>
      <td><%= f.submit 'Sign In' %><td/>
      <td><%= f.submit 'Clear Form', :type => 'reset' %><td/>
    </table>
  </p>
<% end %>